<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ServiceProviderConfig" type="ConfigReadingEx.ServiceProviderConfig, ConfigReadingEx" />   
  </configSections>
  <ServiceProviderConfig>
      <add ServiceProviderCode="99999999" MessageType="Email" IsDefault="true" ServiceProviderName="JangoMail" />
      <add ServiceProviderCode="88888888" MessageType="SMS" IsDefault="true" ServiceProviderName="TWSMS" />
      <add ServiceProviderCode="00555556" MessageType="Email" IsDefault="false" ServiceProviderName="THTreepay" />
      <add ServiceProviderCode="00555557" MessageType="Email" IsDefault="false" ServiceProviderName="THDealcha" />
      <add ServiceProviderCode="00000006" MessageType="SMS" IsDefault="false" ServiceProviderName="NetCore" />
  </ServiceProviderConfig>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
</configuration>